// Define variables for your color scheme

// For example:
$blue:  #1f3845;
$orange: #E67E22;
$light-gray: #FCEDDA;
$turquoise: #26BABA;
$yellow:#ECBF09;
$grey: #9B9E94;
$red: #EE6C4D;
$green: #99AC5D;
$background-white: rgb(249,249,249);
