.navbar-lewagon {
  justify-content: space-between;
  background: #26BABA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.nav-tabs .nav-link:hover{
  border-radius: 5px;
  color: $yellow;
}
